body {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1536px;
  width: 100%;
  display: flex;
}

h1 {
  color: #000;
  font-size: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.col-1 {
  width: 8.333333333333333%;
}
.col-2 {
  width: 16.66666666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333333333%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}

img {
  max-width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;
}

.contact-form {
  height: 600px;
  align-items: flex-start;
  margin: 0 auto;
}

input {
  display: flex;
  width: 404px;
  height: 32px;
  flex-shrink: 0;
  margin-bottom: 35px;
  border: 1px solid rgba(128, 128, 128, 0.363);
  border-radius: 10px;
}

input::placeholder {
  color: #d9d9d9;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  padding-left: 10px;
}

label {
  margin: 5px 0;
  color: #000;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkbox-round {
  width: 9px;
  height: 9px;
  border-radius: 2px;
  margin-top: 1px;
  margin-right: 5px;
  border: 1px solid #000000;
}

.checkboxText {
  font-size: 9px;
  display: flex;
}

.checkboxText a {
  text-decoration: underline;
  color: black;
}

input[value="Signup"] {
  background-color: #3a5b22;
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  height: 32px;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

button {
  width: 190px;
  height: 35.019px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  font-size: 13px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container2 {
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 45px 0px 0px 45px;
}

svg {
  max-width: 25px;
  display: block;
  margin-top: 5px;
}

p {
  margin-top: -20px;
  margin-left: 15px;
  color: #000;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.lineContainer {
  display: flex;
  align-items: center;
  margin-bottom: 63px;
}

.line {
  width: 100%;
  border-top: 2px solid #f5f5f5;
}

.lineContainer p {
  font-size: 9px;
  text-align: center;
  margin: 0 10px;
}

h3 {
  color: #000;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  align-content: center;
}

h3 a {
  color: #0f3dde;
}

.last-text {
  display: flex;
  justify-content: center;
}
